*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  height: 100%;
}

body {
  height: 100%;
  font-size: 1.6rem;
  /* background-color: #fafafa; */
  font-family: Arial, Helvetica, sans-serif;
  padding: 150px;
}

.scene {
  width: 200px;
  height: 200px;
  perspective: 600px;
}

.cube {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
}

.cube__face {
  position: absolute;
  width: 200px;
  height: 200px;
  background: white;
  border: 1px solid black;
  font-size: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cube__face--half {
  position: absolute;
  width: 100px;
  height: 200px;
  background: white;
  border: 1px solid black;
  font-size: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  /* opacity: 0.75; */
  /* color: white; */
}

.cube__face--front {
  background: rgba(255, 99, 71, 0.7);
  transform: rotateY(0) translateZ(100px);
}

.cube__face--back {
  background: rgba(172, 255, 47, 0.7);
  transform: rotateY(180deg) translateZ(100px);
}

.cube__face--left {
  background: rgba(127, 255, 212, 0.7);
  transform: rotateY(-90deg) translateZ(100px);
}

.cube__face--right {
  background: rgba(255, 255, 0, 0.7);
  transform: rotateY(90deg) translateZ(100px);
}

.cube__face--top-1 {
  background: rgba(135, 207, 235, 0.7);
  transform: rotateX(90deg) translateZ(100px);
  transition: transform 1s;
  transform-origin: left;
}

.cube__face--top-2 {
  background: rgba(135, 207, 235, 0.7);
  transition: transform 1s;
  transform: rotateX(90deg) translateZ(100px) translateX(100px);
  transform-origin: right;
}

.cube__face--bottom {
  background: rgba(238, 130, 238, 0.7);
  transform: rotateX(-90deg) translateZ(100px);
}

.cube {
  transition: transform 0.3s;
}

.cube.show-back {
  transform: translateZ(-100px) rotateX(-20deg) rotateY(-30deg);
}

.cube.open .cube__face--top-1 {
  transform: rotateX(90deg) translateZ(100px) rotateY(-90deg);
}

.cube.open .cube__face--top-2 {
  transform: rotateX(90deg) translateZ(100px) translateX(100px) rotateY(90deg);
}

.open-box {
  margin-top: 100px;
}
